<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543798250912-ls8pcpaufla7m4hrmn7qlvthlit5fps4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543798250912-ls8pcpaufla7m4hrmn7qlvthlit5fps4</string>
	<key>API_KEY</key>
	<string>AIzaSyDrtpUNg65azID-nmWmaDxlSnV3CaPJs64</string>
	<key>GCM_SENDER_ID</key>
	<string>543798250912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthMonitorSystem</string>
	<key>PROJECT_ID</key>
	<string>health-monitor-system-3cb09</string>
	<key>STORAGE_BUCKET</key>
	<string>health-monitor-system-3cb09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543798250912:ios:f902162e58b2550f1e68c5</string>
</dict>
</plist>